<section id="coming-soon">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center coming-content">
          <h1>About The App</h1>
          <h4> A starter project to showcase the fundamentals of web development with Ruby on Rails.</h4>
          <p>The following fundamentals of Ruby on Rails were utilized in this project: </p>

          <p>  Object relational mapping                </p>
          <p>  The importance of testing                </p>
          <p>  Seeding data                             </p>
          <p>  The MVC architecture                     </p>
          <p>  CRUD                                     </p>
          <p>  Vapliating data                          </p>
          <p>  Creating users & signing them in and out </p>
          <p>  Ajax                                     </p>
          <p>  Privacy options                          </p>
          <p>  API basics (sending and retrieving data) </p>
          <p>  Made during my apprenticeship at Bloc    </p>


          <div class="social-link">
            <span><a href="www.github.com/BWieber"><i class="fa fa-github-alt"></i></a></span>
            <span><a href="https://www.linkedin.com/in/brandon-wieber-3574b454"><i class="fa fa-linkedin"></i></a></span>
            <span><a href="mailto:brandon.m.wieber@gmail.com"><i class="fa fa-google"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>